In [29]:
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Date, ForeignKey, SmallInteger, Text, VARCHAR, Float

db_string = "postgresql://postgres:postgres@localhost:5432/lab_12"

engine = create_engine(db_string)

Base = declarative_base()

In [30]:
class Users(Base):
    __tablename__ = 'users'
    id = Column(Integer, primary_key=True)
    email = Column(VARCHAR(50))

    def __repr__(self):
        return "<books(id='{0}', email={1})>".format(self.id, self.email)

In [31]:
class Hosts(Base):
    __tablename__ = 'hosts'
    id = Column(Integer, primary_key=True)
    user_id = Column(Integer, ForeignKey('users.id'))

    def __repr__(self):
        return "<hosts(id='{0}', user_id={1})>".format(self.id, self.user_id)

In [32]:
class Bookings(Base):
    __tablename__ = 'bookings'
    id = Column(Integer, primary_key=True)
    user_id = Column(Integer, ForeignKey('users.id'))
    place_id = Column(Integer, ForeignKey('places.id'))
    start_date = Column(Date)
    end_date = Column(Date)
    price_per_night = Column(Float)
    num_nights = Column(Integer)

    def __repr__(self):
        return "<bookings(id='{0}', user_id={1}, places_id={2}, start_date={3}, end_date={4}, price_per_night={5}, num_nights={6})>".format(
            self.id, self.user_id, self.place_id, self.start_date, self.end_date, self.price_per_night, self.num_nights)

In [33]:
class Reviewers(Base):
    __tablename__ = 'reviewers'
    id = Column(Integer, primary_key=True)
    booking_id = Column(Integer, ForeignKey('bookings.id'))
    rating = Column(SmallInteger)
    review_body = Column(Text)

    def __repr__(self):
        return "<reviewers(id='{0}', booking_id={1}, rating={2}, review_body={3})>".format(
            self.id, self.booking_id, self.rating, self.review_body)

In [34]:
class Places(Base):
    __tablename__ = 'places'
    id = Column(Integer, primary_key=True)
    host_id = Column(Integer, ForeignKey('hosts.id'))
    address = Column(VARCHAR)
    city_id = Column(Integer, ForeignKey('cities.id'))

    def __repr__(self):
        return "<places(id='{0}', host_id={1}, address={2}, city_id={3})>".format(
            self.id, self.host_id, self.address, self.city_id)

In [35]:
class Cities(Base):
    __tablename__ = 'cities'
    id = Column(Integer, primary_key=True)
    name = Column(VARCHAR)
    country_id = Column(Integer, ForeignKey('countries.id'))

    def __repr__(self):
        return "<cities(id='{0}', name={1}, country_id={2})>".format(
            self.id, self.name, self.country_id)

In [36]:
class Countries(Base):
    __tablename__ = 'countries'
    id = Column(Integer, primary_key=True)
    country_code = Column(VARCHAR)
    name = Column(VARCHAR)

    def __repr__(self):
        return "<countries(id='{0}', country_code={1}, name={2})>".format(
            self.id, self.country_code, self.name)

In [ ]:
Base.metadata.create_all(engine)